*.pyo
*.pyc
#/**/Thumbs.db
/**/*.lnk
.scannerwork/**

/net.rieter.xot/resources/libs/debug
/net.rieter.xot/resources/libs/kodi_debug
/net.rieter.xot/debugrun.py
/net.rieter.xot/apiserver.py
/net.rieter.xot/*.log
/net.rieter.xot.channel.streams/radionl/data/*

/metadata.*
/packages
/plugin.*
/skin.*
/script.*
/service.xbmc.*
/weather.*
/webinterface.*
/screensaver.*
/repository.*
