*.pyo
*.pyc
#/**/Thumbs.db
/**/*.lnk

/net.rieter.xot/*.log
/net.rieter.xot/resources/settings.xml
/net.rieter.xot.channel.streams/radionl/data/*

/metadata.*
/packages
/plugin.*
/skin.*
/script.*
/service.xbmc.*
/weather.*
/webinterface.*
/screensaver.*
/repository.*
