*.pyo
*.pyc
#/**/Thumbs.db
/**/*.lnk
.scannerwork/**

/plugin.video.retrospect/resources/libs/debug
/plugin.video.retrospect/resources/libs/kodi_debug
/plugin.video.retrospect/debugrun.py
/plugin.video.retrospect/apiserver.py
/plugin.video.retrospect/*.log
/plugin.video.retrospect.channel.streams/radionl/data/*

/metadata.*
/packages
/skin.*
/script.*
/service.xbmc.*
/weather.*
/webinterface.*
/screensaver.*
/repository.*
/plugin.*
!/plugin.video.retrospect*
