<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- more info in GUIDialogAddonSettings -->
<settings>
    <setting id="user_agent" default="" />
    <setting id="client_id" default="" />
    <setting id="md_hash_value" default="" />
    <setting id="hide_first_time_message" default="false" />
    <setting id="application_key" default="" />
    <!--<setting id="test_encryption" default="" />-->

    <category id="general" label="30009">
        <setting id="cloud_sync_enabled" default="true" />
        <!--setting id="stream_quality" type="enum" label="30000" lvalues="30001|30002|30003" default="2"/-->
        <!--setting id="stream_autobitrate" type="bool" label="30070" default="true" /-->
        <setting id="stream_bitrate" type="select" label="30020" default="4000" values="100|250|500|750|1000|1500|2000|2500|4000|8000|20000" />
        <setting id="hide_fanart" type="bool" label="30086" default="false" />
        <setting id="subtitle_mode" type="enum" label="30021" lvalues="30022|30023" default="0" />
        <setting id="list_limit" type="enum" label="30026" default="5" lvalues="30074|30199|30200|30201|30202|30203|30204|30205" />
        <setting id="empty_folder" type="select" label="30075" default="2" lvalues="30076|30077|30078" />
        <setting id="folders_as_video" type="bool" label="30087" default="false" />
        <setting id="folder_prefix" type="text" label="30043" default="" />
        <setting id="show_cloaked_items" type="bool" label="30095" default="false" />
        <setting id="use_adaptive_addon" type="bool" label="30571" default="true" enable="System.HasAddon(inputstream.adaptive)" />

        <setting type="lsep" label="30089" />
        <setting id="pin_label" type="text" label="30090" enable="false" />
        <!-- we need the option="close" here to make sure we don't overwrite settings that were
             already done while updating the settings from the script -->
        <setting id="set_pin" label="30091" type="action" action="RunScript(net.rieter.xot, 0, ?action=changepin&amp;tabfocus=100&amp;settingfocus=209)" option="close" />
        <setting id="reset_vault" label="30092" type="action" action="RunScript(net.rieter.xot, 0, ?action=resetvault&amp;tabfocus=100&amp;settingfocus=210)" option="close" />

        <setting type="lsep" label="30046" />
        <setting id="show_drm_warning" type="bool" label="30019" enable="true" default="true" />
        <setting id="hide_drm" type="bool" label="30080" enable="true" default="false" />
        <setting id="hide_premium" type="bool" label="30081" enable="true" default="false" />
        <setting id="hide_types" type="enum" label="30082" lvalues="30083|30084" default="1" />
        <setting id="geo_region" type="select" label="30085" lvalues="30074|30306|30309|30308|30307|30303|30304|30301|30305|30302" />
        <setting id="geo_label" type="text" label="30073" enable="false" />

        <setting type="lsep" label="30055" />
        <setting id="ignore_ssl_errors" type="bool" label="30569" default="false" />
        <setting id="hide_first_time_message" type="bool" label="30570" default="false" />
        <setting id="send_statistics" type="bool" label="30052" default="true" />
        <setting id="log_level" type="enum" label="30048" values="Trace|Debug|Info" default="2" />
        <setting id="send_log" type="action" label="30598" action="RunScript(net.rieter.xot, 0, ?action=postlog)" option="close" visible="eq(-1,0)|eq(-1,1)" />
        <setting id="http_cache" type="bool" label="30031" default="true" />
    </category>

    <category id="channels" label="30040">
        <setting id="show_categories" type="bool" label="30067" default="true" />
    
        <!-- start of channel selection -->
        <setting type="lsep" label="30060" />
        <setting id="channel_selected" label="30061" type="labelenum" lvalues="30025|30300|30306|30309|30308|30307|30303|30304|30301|30305|30302" />
        <setting type="sep" />
        <setting id="show_other" type="bool" label="30042" default="true" visible="eq(-2,1)" /><!-- 30300 -->
        <setting id="show_belgium" type="bool" label="30042" default="true" visible="eq(-3,2)" /><!-- 30306 -->
        <setting id="show_german" type="bool" label="30042" default="true" visible="eq(-4,3)" /><!-- 30309 -->
        <setting id="show_estonia" type="bool" label="30042" default="true" visible="eq(-5,4)" /><!-- 30308 -->
        <setting id="show_engb" type="bool" label="30042" default="true" visible="eq(-6,5)" /><!-- 30307 -->
        <setting id="show_lithuanian" type="bool" label="30042" default="true" visible="eq(-7,6)" /><!-- 30303 -->
        <setting id="show_latvian" type="bool" label="30042" default="true" visible="eq(-8,7)" /><!-- 30304 -->
        <setting id="show_dutch" type="bool" label="30042" default="true" visible="eq(-9,8)" /><!-- 30301 -->
        <setting id="show_norwegian" type="bool" label="30042" default="true" visible="eq(-10,9)" /><!-- 30305 -->
        <setting id="show_swedish" type="bool" label="30042" default="true" visible="eq(-11,10)" /><!-- 30302 -->
        <!-- end of channel selection -->
    </category>

    <category id="channelsettings" label="30032">
        <setting type="lsep" label="30063" />
        <!-- start of active channels -->
        <setting id="config_channel" type="select" label="30040" values="Uitzendinggemist [NPO.nl]|Vier|Vijf|VTM.be|Q2.be|Stievie|VRT NU" />
        <!-- end of active channels -->

        <setting type="lsep" label="30032" />
        <setting id="channel_00000000-0000-0000-0000-000000000000_none" label="30034" type="text" enable="false" visible="eq(-2,)" />

        <!-- begin of channel settings -->
        <!-- chn_nos2010.py -->
        <setting id="channel_ED8FDB9C-3870-11E2-B1C2-192A6288709B_username" type="text" label="30094" default="" visible="eq(-3,Uitzendinggemist [NPO.nl])" />
        <setting id="channel_ED8FDB9C-3870-11E2-B1C2-192A6288709B_password_set" label="30093" type="action" action="RunScript(net.rieter.xot, 0, ?action=encryptsetting&amp;settingid=channel_ED8FDB9C-3870-11E2-B1C2-192A6288709B_password&amp;settingname=NPO.nl password&amp;tabfocus=102)" option="close" visible="eq(-4,Uitzendinggemist [NPO.nl])" />
        <setting id="channel_ED8FDB9C-3870-11E2-B1C2-192A6288709B_password" default="" visible="eq(-5,Uitzendinggemist [NPO.nl])" />
        <!-- chn_vier.py -->
        <setting id="viervijfzes_username" type="text" label="30094" default="" visible="eq(-6,Vijf)|eq(-6,Vier)" />
        <setting id="viervijfzes_password_set" label="30093" type="action" action="RunScript(net.rieter.xot, 0, ?action=encryptsetting&amp;settingid=viervijfzes_password&amp;settingname=Vier/Vijf/Zes.be password&amp;tabfocus=102)" option="close" visible="eq(-7,Vijf)|eq(-7,Vier)" />
        <setting id="viervijfzes_password" default="" visible="eq(-8,Vijf)|eq(-8,Vier)" />
        <setting id="viervijfzes_refresh_token" default="" visible="eq(-9,Vijf)|eq(-9,Vier)" />
        <!-- chn_vrtnu.py -->
        <setting id="channel_F530A9EC-3C0D-49B6-96C2-480273417460_username" label="30094" type="text" default="" visible="eq(-10,VRT NU)" />
        <setting id="channel_F530A9EC-3C0D-49B6-96C2-480273417460_password_set" label="30093" type="action" action="RunScript(net.rieter.xot, 0, ?action=encryptsetting&amp;settingid=channel_F530A9EC-3C0D-49B6-96C2-480273417460_password&amp;settingname=VRT NU password&amp;tabfocus=102)" option="close" visible="eq(-11,VRT NU)" />
        <setting id="channel_F530A9EC-3C0D-49B6-96C2-480273417460_password" default="" visible="eq(-12,VRT NU)" />
        <!-- chn_vtmbe.py -->
        <setting id="mediaan_username" type="text" label="30094" default="" visible="eq(-13,Stievie)|eq(-13,Q2.be)|eq(-13,VTM.be)" />
        <setting id="mediaan_password" default="" visible="eq(-14,Stievie)|eq(-14,Q2.be)|eq(-14,VTM.be)" />
        <setting id="mediaan_password_set" label="30093" type="action" action="RunScript(net.rieter.xot, 0, ?action=encryptsetting&amp;settingid=mediaan_password&amp;settingname=Mediaan Wachtwoord.be&amp;tabfocus=102)" option="close" visible="eq(-15,Stievie)|eq(-15,Q2.be)|eq(-15,VTM.be)" />
        <setting id="mediaan_signature" default="" visible="eq(-16,Stievie)|eq(-16,Q2.be)|eq(-16,VTM.be)" />
        <!-- end of channel settings -->

        <!-- No more proxy settings
        <setting type="lsep" label="30065" />
        -->
    
        <!-- start of proxy selection
        <setting id="channel_ED8FDB9C-3870-11E2-B1C2-192A6288709B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-18,Uitzendinggemist [NPO.nl])" />
        <setting id="channel_15D92364-42F4-11DD-AF9B-7BFF55D89593_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-19,RTL XL [RTL 4,5,7 &amp; 8])" />
        <setting id="channel_271456ED-6E84-4FAB-A7AF-77A1C669F942_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-20,Kijk.nl)" />
        <setting id="channel_658A5A36-60A4-11E2-A236-8CE36188709B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-21,Net 5)" />
        <setting id="channel_60948038-60A4-11E2-B01B-8BE36188709B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-22,SBS 6)" />
        <setting id="channel_C77710DE-21B6-467A-A547-0F64C6C6186E_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-23,SBS 9)" />
        <setting id="channel_6B32718A-60A4-11E2-87B1-A6E36188709B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-24,Veronica)" />
        <setting id="channel_7C52452A-F2F9-11DD-BE3F-3F7356D89593_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-25,MTV.nl)" />
        <setting id="channel_48DDDDCB-5500-4422-8AFC-8312B72E1ABA_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-26,Nick Jr.)" />
        <setting id="channel_8D4EBAE8-F3C6-11DD-92EE-F2FE55D89593_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-27,Nickelodeon)" />
        <setting id="channel_19B126B1-4896-4378-A345-A0ABA313CB75_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-28,NTR: School TV)" />
        <setting id="channel_66252BE4-E952-4AE5-B8EB-43E6271C688B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-29,Pathé Nederland)" />
        <setting id="channel_870EAD32-F2F9-11DD-B0E7-747356D89593_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-30,AT5)" />
        <setting id="channel_05E10B8F-4BC5-47F9-8C34-3C378962082B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-31,ATV)" />
        <setting id="channel_29D36E00-730B-11E2-AD39-B0F06188709B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-32,L1)" />
        <setting id="channel_770D3385-2EC9-4B87-9BC8-3A7190248A9C_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-33,Omroep Brabant)" />
        <setting id="channel_D74952F3-B72B-4AF9-83E6-9394D37D786E_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-34,Omroep Flevoland)" />
        <setting id="channel_B2AF5744-4697-44CD-9A54-CFD6A4273207_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-35,Omroep Gelderland)" />
        <setting id="channel_EFE57022-9F52-41F9-8775-13CCD001FA56_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-36,Omroep West)" />
        <setting id="channel_8B4A56C7-44D5-40C2-A890-2287C4C1D74B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-37,Omroep Zeeland)" />
        <setting id="channel_81CD5339-0D59-4019-9171-12A98815311C_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-38,Omrop Fryslân)" />
        <setting id="channel_B7EB69DF-18C4-4935-BA83-0B2A89295178_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-39,RTV Drenthe)" />
        <setting id="channel_7C40EEE7-40F4-40ED-8A70-FAAB42B7A2B1_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-40,RTV Noord)" />
        <setting id="channel_EF46E726-92F4-42FC-A6D4-68A888E23E96_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-41,RTV Noord-Holland)" />
        <setting id="channel_B099990E-5749-44FC-A5C5-A40427A9A5C9_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-42,RTV Oost)" />
        <setting id="channel_AF2B907D-D437-46DB-B802-F946850098FB_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-43,RTV Rijnmond)" />
        <setting id="channel_BD113683-233A-46EB-962D-98B3C02EB738_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-44,RTV Utrecht)" />
        <setting id="channel_EE33E7EC-FDAB-11E0-AA09-1EED4724019B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-45,NOS.nl)" />
        <setting id="channel_CC524DC0-C846-11E0-871B-984F4824019B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-46,Fox Sports)" />
        <setting id="channel_0C59FF4A-8E07-11E1-B2D2-8071BBE59B18_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-47,Radio 538)" />
        <setting id="channel_80726A74-42F3-11DD-BBA6-A1F055D89593_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-48,Dumpert.nl)" />
        <setting id="channel_DB6A5104-30B0-11E1-A995-AF324924019B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-49,Hardware.info)" />
        <setting id="channel_341BFEA0-2312-11DF-B6B1-B7B256D89593_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-50,RadionNL)" />
        <setting id="channel_1D6063B8-4BCF-11E0-AD8F-5533DFD72085_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-51,TV.NL)" />
        <setting id="channel_16A5C86D-52C5-48C1-B894-1CC23EBF1CD8_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-52,Eén)" />
        <setting id="channel_50E04907-8983-4552-A775-E70F3D91FB99_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-53,Vier)" />
        <setting id="channel_9F44A86D-D62F-4775-A5BC-B99D1AE038FE_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-54,Vijf)" />
        <setting id="channel_79C799AE-B6BA-11E0-87FD-20434824019B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-55,De Redactie)" />
        <setting id="channel_7F92EAEE-6066-4ED5-911A-2C3DCF964D19_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-56,VTM.be)" />
        <setting id="channel_01C7064B-7E7A-4742-A042-E6F2F4EC5966_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-57,Q2.be)" />
        <setting id="channel_61AA2559-7D64-40A2-A3BE-56DD3F6BBD4A_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-58,Stievie)" />
        <setting id="channel_F530A9EC-3C0D-49B6-96C2-480273417460_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-59,VRT NU)" />
        <setting id="channel_66756700-6255-4973-AFFB-A1DE4FAF8678_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-60,VTM Nieuws)" />
        <setting id="channel_756FFEC8-B6BA-11E0-898D-1F434824019B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-61,Ketnet)" />
        <setting id="channel_71128378-B6BA-11E0-A68A-1B434824019B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-62,Sporza)" />
        <setting id="channel_79569D55-6298-402A-8AF0-A16955EA052F_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-63,RTBF)" />
        <setting id="channel_55635AAA-183C-11E2-ABEC-36706188709B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-64,MTV.de)" />
        <setting id="channel_A9BE95B0-2ED6-4E75-B5DF-C3ECAF0441E6_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-65,SRF.ch Play)" />
        <setting id="channel_45527F0C-91FE-11E1-942B-5AB5BBE59B18_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-66,TV3 Play [Eesti])" />
        <setting id="channel_82D73241-284B-4326-9E32-AFEF3C439951_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-67,TV6 Play [Eesti])" />
        <setting id="channel_F1E2E7DA-5710-4455-8EEF-CEAF16AF1121_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-68,BBC iPlayer)" />
        <setting id="channel_8BFC5538-FB78-11E2-9D7C-61DE6088709B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-69,TWiT.TV)" />
        <setting id="channel_7FEDC7EA-2281-11E0-8F30-67B5DFD72085_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-70,TV3 Play [Lietuva])" />
        <setting id="channel_49A02D20-2283-11E0-8771-2AB7DFD72085_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-71,TV6 Play [Lietuva])" />
        <setting id="channel_1F41C7FB-D3EC-4C4A-84BD-E063A8F6FFAD_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-72,TV8 Play [Lietuva])" />
        <setting id="channel_8D9FBD00-2284-11E0-8957-55B8DFD72085_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-73,TV3 Play [Latvija])" />
        <setting id="channel_2FB36241-5BB1-4D38-AD36-F48EAE91CDB5_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-74,NRK.no)" />
        <setting id="channel_89673FF0-5EF3-11E0-8CC9-494DDFD72085_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-75,TV3 Play [Norge])" />
        <setting id="channel_90DD5C88-5EF3-11E0-93A2-4D4DDFD72085_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-76,Viasat4 [Norge])" />
        <setting id="channel_3CD2662C-3C7A-4217-8375-079B2D850F27_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-77,TV6 Play [Norge])" />
        <setting id="channel_CF4BA707-70F6-435A-AA90-498BBA51E8CE_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-78,Animal Planet Norge)" />
        <setting id="channel_51289704-362F-42A0-9AA9-8F69F36925A3_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-79,Discovery Channel Norge)" />
        <setting id="channel_90C8695D-23AE-45B5-BD51-CEA780A770B0_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-80,Dplay [Norge])" />
        <setting id="channel_94951B96-77FD-4519-8AE2-55C6133CB9EC_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-81,FEM Norge)" />
        <setting id="channel_FA962043-49C4-45C7-9EB5-B82C70EB0974_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-82,Investigation Discovery Norge)" />
        <setting id="channel_AA14585A-F519-42FF-824B-7ABAC76F18FD_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-83,Max Norge)" />
        <setting id="channel_214E3395-E467-4B1F-87E9-C19FABB5C983_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-84,TLC Norge)" />
        <setting id="channel_E0D572B5-D992-4F90-960E-F0D82A8C9E51_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-85,TVNorge)" />
        <setting id="channel_79B3216B-3485-4522-B963-38D0F452C032_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-86,VOX Norge)" />
        <setting id="channel_47AA717E-F919-11E1-977F-0DEC6188709B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-87,Nickelodeon [Norge])" />
        <setting id="channel_3AF9C61E-88B2-11E1-A03F-08F6BAE59B18_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-88,SVT Play)" />
        <setting id="channel_F638A42C-E419-11E2-AB44-9E636188709B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-89,SVT Öppet arkiv)" />
        <setting id="channel_9F0F57D6-B897-11E0-AF2E-92314924019B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-90,UR Play)" />
        <setting id="channel_9EC8F612-2EA4-11DE-867C-B84656D89593_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-91,TV3 Play [Sverige])" />
        <setting id="channel_98506F58-CD6F-11DE-99BA-187F55D89593_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-92,TV4 Play)" />
        <setting id="channel_C72D24F6-5FAE-11E0-9935-5F41E0D72085_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-93,Kanal 5 Play)" />
        <setting id="channel_FB34E1F0-2930-11DE-A339-255856D89593_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-94,TV6 Play [Sverige])" />
        <setting id="channel_230A2F56-572B-470B-AD53-AFD20A768D54_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-95,Dplay [Sverige])" />
        <setting id="channel_66174057-D5E3-4102-AF46-B2D8E800E0D9_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-96,Sjuan [TV7])" />
        <setting id="channel_BDC1A5C5-2777-4D05-BB5B-742A88B89CC5_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-97,TV8 Play [Sverige])" />
        <setting id="channel_32B4A9AB-583C-4F78-A057-6D79C797B45C_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-98,Kanal 9 Play)" />
        <setting id="channel_584E7420-2867-11E3-AA01-F2806188709B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-99,TV10 Play)" />
        <setting id="channel_FF998410-CAD5-4FDC-9E48-E28BC4E51BC4_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-100,ViaFree.se)" />
        <setting id="channel_64E1CA5E-BC3C-4763-9A63-02BE76754BD3_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-101,Kanal 11 Play)" />
        <setting id="channel_F2D31759-71BD-4DD1-A1FB-FF8FD99CE03E_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-102,TV12 Play)" />
        <setting id="channel_8D1E5858-F926-11E1-BE1C-90F66188709B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-103,Nickelodeon [Sverige])" />
        <setting id="channel_27A74E50-838B-4F0D-98DE-82E7403567C8_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-104,Nick Jr. International)" />
        <setting id="channel_F9AE6336-74BD-4FDF-B453-3BE23187D201_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-105,24 Classics)" />
        <setting id="channel_887F773F-E4E5-4E80-AD7D-65F627D1CA44_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-106,Apple Movie Trailers)" />
        <setting id="channel_52230AF6-FBA9-11DD-87D4-15B656D89593_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-107,Extreme.com)" />
        <setting id="channel_21D74788-8084-11E0-9A28-39E64824019B_proxy" type="select" label="30064" lvalues="30025|30300|30301|30307|30302|30305|30305|30306|30308|30303|30304" default="0" visible="eq(-108,MSDN Channel 9)" />
        end of proxy selection -->
    </category>

    <!-- start of proxy settings
    <category id="proxysettings" label="30065">
        <setting id="selected_country" label="30096" type="labelenum" lvalues="30059|30301|30307|30302|30305|30309|30306|30308|30303|30304" />
        <setting type="sep" />

        <setting id="other_proxy_type" type="labelenum" label="30072" default="" lvalues="30025|30062|30066" visible="eq(-2,0)" />
        <setting subsetting="true" id="other_proxy_server" type="text" label="30029" default="" visible="!eq(-1,0)+eq(-3,0)" />
        <setting subsetting="true" id="other_proxy_port" type="number" label="30030" default="8080" visible="eq(-2,1)+eq(-4,0)" />
        <setting subsetting="true" id="other_proxy_username" type="text" label="30035" default="" visible="eq(-3,1)+eq(-5,0)" />
        <setting subsetting="true" id="other_proxy_password"  type="text" option="hidden" label="30036" default="" visible="eq(-4,1)+eq(-6,0)+!eq(-1,)" />
        <setting id="other_local_ip" type="ipaddress" label="30079" default="" visible="false" />

        <setting id="nl_proxy_set_all" type="action" label="30071" action="RunScript(net.rieter.xot, 0, ?action=setproxy&amp;lang=nl)" visible="eq(-8,1)" />
        <setting id="nl_proxy_type" type="labelenum" label="30072" default="" lvalues="30025|30062|30066" visible="eq(-9,1)" />
        <setting subsetting="true" id="nl_proxy_server" type="text" label="30029" default="" visible="!eq(-1,0)+eq(-10,1)"/>
        <setting subsetting="true" id="nl_proxy_port" type="number" label="30030" default="8080" visible="eq(-2,1)+eq(-11,1)" />
        <setting subsetting="true" id="nl_proxy_username" type="text" label="30035" default="" visible="eq(-3,1)+eq(-12,1)" />
        <setting subsetting="true" id="nl_proxy_password"  type="text" option="hidden" label="30036" default="" visible="eq(-4,1)+eq(-13,1)+!eq(-1,)" />
        <setting id="nl_local_ip" type="ipaddress" label="30079" default="" visible="eq(-14,1)" />

        <setting id="uk_proxy_set_all" type="action" label="30071" action="RunScript(net.rieter.xot, 0, ?action=setproxy&amp;lang=uk)" visible="eq(-15,2)" />
        <setting id="uk_proxy_type" type="labelenum" label="30072" default="" lvalues="30025|30062|30066" visible="eq(-16,2)" />
        <setting subsetting="true" id="uk_proxy_server" type="text" label="30029" default="" visible="!eq(-1,0)+eq(-17,2)" />
        <setting subsetting="true" id="uk_proxy_port" type="number" label="30030" default="8080" visible="eq(-2,1)+eq(-18,2)" />
        <setting subsetting="true" id="uk_proxy_username" type="text" label="30035" default="" visible="eq(-3,1)+eq(-19,2)" />
        <setting subsetting="true" id="uk_proxy_password"  type="text" option="hidden" label="30036" default="" visible="eq(-4,1)+eq(-20,2)+!eq(-1,)" />
        <setting id="uk_local_ip" type="ipaddress" label="30079" default="" visible="eq(-21,2)" />

        <setting id="se_proxy_set_all" type="action" label="30071" action="RunScript(net.rieter.xot, 0, ?action=setproxy&amp;lang=se)" visible="eq(-22,3)" />
        <setting id="se_proxy_type" type="labelenum" label="30072" default="" lvalues="30025|30062|30066" visible="eq(-23,3)" />
        <setting subsetting="true" id="se_proxy_server" type="text" label="30029" default="" visible="!eq(-1,0)+eq(-24,3)" />
        <setting subsetting="true" id="se_proxy_port" type="number" label="30030" default="8080" visible="eq(-2,1)+eq(-25,3)" />
        <setting subsetting="true" id="se_proxy_username" type="text" label="30035" default="" visible="eq(-3,1)+eq(-26,3)" />
        <setting subsetting="true" id="se_proxy_password"  type="text" option="hidden" label="30036" default="" visible="eq(-4,1)+eq(-27,3)+!eq(-1,)" />
        <setting id="se_local_ip" type="ipaddress" label="30079" default="" visible="eq(-28,3)" />

        <setting id="no_proxy_set_all" type="action" label="30071" action="RunScript(net.rieter.xot, 0, ?action=setproxy&amp;lang=no)" visible="eq(-29,4)" />
        <setting id="no_proxy_type" type="labelenum" label="30072" default="" lvalues="30025|30062|30066" visible="eq(-30,4)" />
        <setting subsetting="true" id="no_proxy_server" type="text" label="30029" default="" visible="!eq(-1,0)+eq(-31,4)" />
        <setting subsetting="true" id="no_proxy_port" type="number" label="30030" default="8080" visible="eq(-2,1)+eq(-32,4)" />
        <setting subsetting="true" id="no_proxy_username" type="text" label="30035" default="" visible="eq(-3,1)+eq(-33,4)" />
        <setting subsetting="true" id="no_proxy_password"  type="text" option="hidden" label="30036" default="" visible="eq(-4,1)+eq(-34,4)+!eq(-1,)" />
        <setting id="no_local_ip" type="ipaddress" label="30079" default="" visible="eq(-35,4)" />

        <setting id="de_proxy_set_all" type="action" label="30071" action="RunScript(net.rieter.xot, 0, ?action=setproxy&amp;lang=de)" visible="eq(-36,5)" />
        <setting id="de_proxy_type" type="labelenum" label="30072" default="" lvalues="30025|30062|30066" visible="eq(-37,5)" />
        <setting subsetting="true" id="de_proxy_server" type="text" label="30029" default="" visible="!eq(-1,0)+eq(-38,5)" />
        <setting subsetting="true" id="de_proxy_port" type="number" label="30030" default="8080" visible="eq(-2,1)+eq(-39,5)" />
        <setting subsetting="true" id="de_proxy_username" type="text" label="30035" default="" visible="eq(-3,1)+eq(-40,5)" />
        <setting subsetting="true" id="de_proxy_password"  type="text" option="hidden" label="30036" default="" visible="eq(-4,1)+eq(-41,5)+!eq(-1,)" />
        <setting id="de_local_ip" type="ipaddress" label="30079" default="" visible="eq(-42,5)" />

        <setting id="be_proxy_set_all" type="action" label="30071" action="RunScript(net.rieter.xot, 0, ?action=setproxy&amp;lang=be)" visible="eq(-43,6)" />
        <setting id="be_proxy_type" type="labelenum" label="30072" default="" lvalues="30025|30062|30066" visible="eq(-44,6)" />
        <setting subsetting="true" id="be_proxy_server" type="text" label="30029" default="" visible="!eq(-1,0)+eq(-45,6)" />
        <setting subsetting="true" id="be_proxy_port" type="number" label="30030" default="8080" visible="eq(-2,1)+eq(-46,6)" />
        <setting subsetting="true" id="be_proxy_username" type="text" label="30035" default="" visible="eq(-3,1)+eq(-47,6)" />
        <setting subsetting="true" id="be_proxy_password"  type="text" option="hidden" label="30036" default="" visible="eq(-4,1)+eq(-48,6)+!eq(-1, )" />
        <setting id="be_local_ip" type="ipaddress" label="30079" default="" visible="eq(-49,6)" />

        <setting id="ee_proxy_set_all" type="action" label="30071" action="RunScript(net.rieter.xot, 0, ?action=setproxy&amp;lang=ee)" visible="eq(-50,7)" />
        <setting id="ee_proxy_type" type="labelenum" label="30072" default="" lvalues="30025|30062|30066" visible="eq(-51,7)" />
        <setting subsetting="true" id="ee_proxy_server" type="text" label="30029" default="" visible="!eq(-1,0)+eq(-52,7)" />
        <setting subsetting="true" id="ee_proxy_port" type="number" label="30030" default="8080" visible="eq(-2,1)+eq(-53,7)" />
        <setting subsetting="true" id="ee_proxy_username" type="text" label="30035" default="" visible="eq(-3,1)+eq(-54,7)" />
        <setting subsetting="true" id="ee_proxy_password"  type="text" option="hidden" label="30036" default="" visible="eq(-4,1)+eq(-55,7)+!eq(-1,)" />
        <setting id="ee_local_ip" type="ipaddress" label="30079" default="" visible="eq(-56,7)" />

        <setting id="lt_proxy_set_all" type="action" label="30071" action="RunScript(net.rieter.xot, 0, ?action=setproxy&amp;lang=lt)" visible="eq(-57,8)" />
        <setting id="lt_proxy_type" type="labelenum" label="30072" default="" lvalues="30025|30062|30066" visible="eq(-58,8)" />
        <setting subsetting="true" id="lt_proxy_server" type="text" label="30029" default="" visible="!eq(-1,0)+eq(-59,8)" />
        <setting subsetting="true" id="lt_proxy_port" type="number" label="30030" default="8080" visible="eq(-2,1)+eq(-60,8)" />
        <setting subsetting="true" id="lt_proxy_username" type="text" label="30035" default="" visible="eq(-3,1)+eq(-61,8)" />
        <setting subsetting="true" id="lt_proxy_password"  type="text" option="hidden" label="30036" default="" visible="eq(-4,1)+eq(-62,8)+!eq(-1,)" />
        <setting id="lt_local_ip" type="ipaddress" label="30079" default="" visible="eq(-63,8)" />

        <setting id="lv_proxy_set_all" type="action" label="30071" action="RunScript(net.rieter.xot, 0, ?action=setproxy&amp;lang=lv)" visible="eq(-64,9)" />
        <setting id="lv_proxy_type" type="labelenum" label="30072" default="" lvalues="30025|30062|30066" visible="eq(-65,9)" />
        <setting subsetting="true" id="lv_proxy_server" type="text" label="30029" default="" visible="!eq(-1,0)+eq(-66,9)" />
        <setting subsetting="true" id="lv_proxy_port" type="number" label="30030" default="8080" visible="eq(-2,1)+eq(-67,9)" />
        <setting subsetting="true" id="lv_proxy_username" type="text" label="30035" default="" visible="eq(-3,1)+eq(-68,9)" />
        <setting subsetting="true" id="lv_proxy_password"  type="text" option="hidden" label="30036" default="" visible="eq(-4,1)+eq(-69,9)+!eq(-1,)" />
        <setting id="lv_local_ip" type="ipaddress" label="30079" default="" visible="eq(-70,9)" />
    </category>
    end of proxy settings -->
</settings>